body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.bottom {
	vertical-align:bottom;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.page-message {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
.hidden,
.page-message {
	display:none;
}
.success	{
    font-size: 12px;
	color:#32CD32;
	font-weight:bold;
}
.failed	{
    font-size: 12px;
	color:#B22222;
	font-weight:bold;
}
.table tr td select {
	margin-bottom: 0px;
}
.table tr td div {
	padding-top: 6px;
	font-weight:bold;
}
.gauges{
	max-width:480px;
}
.gauge-div{
	min-height:210px;
	width:160px;
	float:left;
}
.gauge-heading{
	font-weight:bold;
}
.gauge-alert{
	font-weight:bold;
	font-style:italic;
	color:firebrick;
}
.chart-holder {
    width: 100%;
    height: 325px;
}
.graph-heading {
	font-weight:bold;
	font-size: 12px;
}
.ui-corner-all input {
	margin-right: 5px;
}
.ui-state-default {
	width:230px;
}
.twitter-feed {
	width: 60%;
	white-space: normal;
}