<div class="page-header">
	<h1>Auto Control</h1>
</div>
<div class="page-message">

</div>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Borehole Description</th>
					<th>On</th>
					<th>Off</th>
					<th>Locked</th>
				</tr>
			</thead>
			<tbody>
				<%
				$.each(data,function(i, v)	{
				%>
				<tr>
					<td>
						<%= v[1] %>
					</td>
					<td>
						<center>
							<input type="radio" class="power" value="On" id="<%= v[0] %>" name="<%= v[0] %>" <%= (v[2] == "ON") ? "checked" : "" %> <%= (v[3] == "1") ? "disabled" : "" %> />
						</center>
					</td>
					<td>
						<center>
							<input type="radio" class="power" value="Off" id="<%= v[0] %>" name="<%= v[0] %>" <%= (v[2] == "OFF") ? "checked" : "" %> <%= (v[3] == "1") ? "disabled" : "" %> />
						</center>
					</td>
					<td>
						<center>
							<input type="checkbox" class="lock" value="0" id="<%= v[0] %>" name="<%= v[0] %>" <%= (v[3] == "1") ? "checked" : "" %> />
						</center>
					</td>
				</tr>
				<%
				});
				%>
			</tbody>
		</table>
	</div>
</div><!-- end .row -->

<input type="button" class="powerBtn" id="On" value="Turn All Pumps On">&nbsp;<input type="button" class="powerBtn" id="Off" value="Turn All Pumps Off">
