<div class="page-header">
	<h1><%= data["nodeName"] %></h1>
</div>
<div class="page-message">

</div>
<%
if (is_object(data["nodeControl"]))	{
%>
<div class="row">
	<div class="span12">
		<%
		$.each(data["nodeControl"],function(i, v)	{
		%>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th><%== v["heading"] %></th>
				</tr>
			</thead>
			<tbody>
				<%
				$.each(v["options"],function(j, w)	{
				%>
				<tr>
					<td>
						<input type="<%= v["type"] %>" class="<%= v["class"] %>" value="<%= w["value"] %>" id="<%= v["id"] %>" name="<%= v["id"] %>" <%= w["checked"] %> <%= w["disabled"] %> /><% if (v["type"] != "button") { %>&nbsp;<%= w["value"] %><% } %>
					</td>
				</tr>
				<%
				});
				%>
			</tbody>
		</table>
		<%
		});
		%>
	</div>
</div>
<%
}
%>
<br>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<%
					$.each(data["nodeInfoHeadings"],function(i, v)	{
					%>
					<th><%== v %></th>
					<%
					});
					%>
				</tr>
			</thead>
			<tbody>
				<%
				$.each(data["nodeInfo"],function(i, v)	{
				%>
				<tr>
					<%
					for (var j = 3; j < (v[0] + 1); j++)	{
						if (is_object(v[j]))	{
							%>
							<td align="center">
								<center>
									<span class="badge <%= v[j]["class"] %>"><%= v[j]["val"] %></span>
								</center>
							</td>
							<%
						}
						else if (v[j] == "-")	{
							%>
							<td align="center">-</td>
							<%
						}
						else if (is_numeric(v[j]))	{
							%>
							<td align="right"><%= v[j] %></td>
							<%
						}
						else	{
							%>
							<td align="justify"><%= v[j] %></td>
							<%
						}
					}
					%>
				</tr>
				<%
				});
				%>
			</tbody>
		</table>
	</div>
</div>
<%
if (is_object(data["nodeGauges"]))	{
%>
<div class="row">
	<div class="gauges">
		<%
		$.each(data["nodeGauges"],function(i, v)	{
		%>
		<div class="gauge-div">
			<div class="gauge-heading"><%= v["name"] %></div>
			<div id="gauge_<%= v["id"] %>"></div>
			<div class="gauge-alert"><%= v["alert"] %></div>
			<div id="gauge_<%= v["id"] %>_extra"></div>
		</div>
		<%
		});
		%>
	</div>
</div>
<br/>
<%
}
%>
<%
$.each(data["nodeIndicators"],function(i, v)	{
	if (is_object(v["data"]))	{
%>
<br/>
<div class="row">
	<div class="span12">
		<b style='font-size:12px;'><%= v["title"] %></b>
		<br/>
		<i><%= v["descr"] %></i>
		<br/>
		<table class="table table-striped table-bordered">
			<tbody>
				<%
				$.each(v["data"],function(i, w)	{
				%>
				<tr>
					<td align="center">
						<center>
							<span class="badge <%= w["class"] %>"></span>
						</center>
					</td>
					<td align="justify"><%= w["descr"] %></td>
				</tr>
				<%
				});
				%>
			</tbody>
		</table>
	</div>
</div>
<%
	}
});
%>
