<div class="page-header">
    <h1>Projects</h1>
</div>

<div class="row">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<tbody>
				<%
				if (data.length > 1)	{
					data = sort_array(data, 1);
					$.each(data,function(i, v)	{
				%>
				<!--
				<tr>
					<td><i class="icon-folder-open"></i>&nbsp;&nbsp;<%= v[1] %></td>
				</tr>
				-->
					<%
					if (v[2].length > 0)	{
						v[2] = sort_array(v[2], 1);
						$.each(v[2],function(j,w)	{
						%>
				<tr>
					<td>
						<center>
							&nbsp;&nbsp;<i class="icon-eye-<%= (w[2] == true) ? "open" : "close" %>"></i>&nbsp;&nbsp;<a id="<%= v[0] %>" name="<%= w[0] %>" class="office-project <%= (w[2] == true) ? "success" : "failed" %>" href="javascript://"><%= w[1]%></a>
						</center>
					</td>
				</tr>
						<%
						});
					}
					%>
				<%
					});
				}
				%>
			</tbody>
		</table>
	</div>
</div>