<form id="report-form">
	<div class="page-header">
		<h1>Reports</h1>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td><div>Select Pump</div></td>
						<td>
							<select id="node" name="node" class="multiselect" multiple="multiple" size="5">
								<%
								$.each(data[0]["nodes"],function(i, v)	{
								%>
								<option value="<%= v[0] %>" <%= (v[2] == true) ? "selected" : "" %>><%= v[1] %></option>
								<%
								});
								%>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<center>
								<input type="button" class="get-parameters" value="Get Parameters">
							</center>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="final_step">
				<table class="table table-striped table-bordered">
					<tbody>
						<tr>
							<td><div>Select Parameter</div></td>
							<td>
								<div id="param_div">
									<select id="param" name="param">
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td><div>Select Period</div></td>
							<td>
								<select id="period" name="period">
									<%
									$.each(data[0]["periods"],function(i, v)	{
									%>
									<option value="<%= v["value"] %>"><%= v["descr"] %></option>
									<%
									});
									%>
								</select>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="button" class="graph" value="Graph">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="result_div" class="result_div">
	</div>
</form>