<form id="report-form">
	<div class="page-header">
		<h1>Cumulative Flow Report</h1>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td><div>Select Pump</div></td>
						<td>
							<select id="node" name="node" class="multiselect" multiple="multiple" size="2">
								<%
								$.each(data[0]["nodes"],function(i, v)	{
								%>
								<option value="<%= v[0] %>" <%= (v[2] == true) ? "selected" : "" %>><%= v[1] %></option>
								<%
								});
								%>
							</select>
						</td>
					</tr>
					<tr>
						<td><div>Select Period</div></td>
						<td>
							<select id="period" name="period">
								<%
								$.each(data[0]["periods"],function(i, v)	{
								%>
								<option value="<%= v["value"] %>"><%= v["descr"] %></option>
								<%
								});
								%>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="button" class="graph-flow" value="Graph">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="result_div" class="result_div">
	</div>
</form>