<form class="form-signin" action="javascript://" method="get">
	<table>
		<tr>
			<td align="center" class="bottom">
				<a href="http://www.iteonline.co.za" target="_blank"><img src="assets/img/logo.png"/></a>
			</td>
		</tr>
		<tr>
			<td align="center" class="bottom">
				<a href="http://www.iteonline.co.za" target="_blank"><img src="assets/img/logo_text.png"/></a>
			</td>
		</tr>
	</table>
	<h4 class="form-signin-heading">Please sign in</h4>
	<div class="page-message">
	</div>
	<input id="username" name="username" type="text" class="input-block-level" placeholder="Email address">
	<input id="password" name="password" type="password" class="input-block-level" placeholder="Password">
	<!--
	<label class="checkbox">
		<input id="rememberme" type="checkbox" > Remember me
	</label>
	-->
	<button id="signin" class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>
