<div class="page-header">
    <h1></h1>
</div>

<center>
	<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Description</th>
						<%
						$.each(data["nodeInfoHeadings"],function(i, v)	{
						%>
						<th><%== v %></th>
						<%
						});
						%>
					</tr>
				</thead>
				<tbody>
					<%
					$.each(data["nodeInfo"],function(i, v)	{
					%>
					<tr>
						<%
						for (var j = 2; j < (v[0] + 1); j++)	{
							if (j == 2)	{
								%>
								<td align="justify">
									<a href="javascript://" class="nodeDetail" id="<%= v[1] %>"><%= v[j] %></a>
								</td>
								<%
							}
							else if (is_object(v[j]))	{
								%>
								<td align="center">
									<center>
										<span class="badge <%= v[j]["class"] %>"><%= v[j]["val"] %></span>
									</center>
								</td>
								<%
							}
							else if (v[j] == "-")	{
								%>
								<td align="center">
									<center>
										-
									</center>
								</td>
								<%
							}
							else if (is_numeric(v[j]))	{
								%>
								<td>
									<center>
										<%= v[j] %>
									</center>
								</td>
								<%
							}
							else	{
								%>
								<td><%= v[j] %></td>
								<%
							}
						}
						%>
					</tr>
					<%
					});
					%>
				</tbody>
			</table>
		</div>
	</div>
</center>

<%
if (is_object(data["timers"]))	{
%>
<center>
	<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th colspan="3">Timers Running</th>
					</tr>
					<tr>
						<th>Oscillation<br/>Timer</th>
						<th>Rietfontein<br/>Over Capacity<br/>Timer</th>
						<th>Rietfontein<br/>Recovery<br/>Timer</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">
							<center>
								<span class="badge <%= data["timers"]["oscillationTimer"] %>"></span>
							</center>
						</td>
						<td align="center">
							<center>
								<span class="badge <%= data["timers"]["overCapacityTimer"] %>"></span>
							</center>
						</td>
						<td align="center">
							<center>
								<span class="badge <%= data["timers"]["recoveryTimer"] %>"></span>
							</center>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</center>
<%
}
%>

<%
if (is_object(data["totalVolume"]))	{
%>
<center>
	<%== data["totalVolume"][0] %>
</center>
<%
}
%>

<center>
	<div class="twitter-feed">
		<%
		$.each(data["twitterPosts"],function(i, v)	{
		%>
			<p><%== v %></p>
		<%
		});
		%>
	</div>
</center>
